@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #333333; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316; /* orange-500 */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #000000;
}

body {
  background-color: #000000; /* Black background outside the app container */
}
